<nav style="background-color: #C0FFD9; height: 10px; width: 100%;" class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <figure class="image is-96x96">
        <img style="height: 50px; width: 50px; padding-top: 2px;" src="https://i.imgur.com/pSCIAnP.png">
      </figure>
    </div>
    <div class="navbar-right">
      <div class="navbar-menu">
        <a  class="navbar-item" href="/">Home</a>
        <a  class="navbar-item" href="/about">About us</a>
        <a  class="navbar-item" href="/restaurants">Restaurants</a>
        <% if (!locals.isLoggedIn) { %>
          <a class="navbar-item" href="/sessions/new">Log In</a>
          <a class="navbar-item" href="/registrations/new">Sign Up!</a>
        <% } else { %>
          <a class="navbar-item" href="/restaurants/new">New Restaurant</a>
          <a class="navbar-item" href="/profiles/<%= locals.user.id %>"><%= locals.user.username %>s Profile</a>
          <a class="navbar-item" href="/sessions/delete">Log <%= locals.user.username %> Out</a>
          <span>
          <figure style="position: absolute;"class="image is-96x96">
          <img style="height: 50px; width: 50px; padding-top: 2px; margin-left: 20px; border-radius: 100%;" src="<%= locals.user.profilePic %>" alt="<%= locals.user.profilePic %>">
          </figure>
          </span>
        <% } %>
      </div>
    </div>
  </div>
</nav>
